<script src="assets/scrambling-letters-master/dist/scrambler.min.js"></script>
<div class="container">
    <div class="content">
        <h2 class="full-name" [routerLink]="['/about']">Shivam Pandey
            <div class="bar"></div>
        </h2>
        <div class="profession lead">
            <p>Web Developer</p>
            <p><span class="plus">+ </span> <span class="txt-rotate" data-period="1000" data-rotate='[ "Designer", "Creator", "UX-UI", "Influencer"]'></span></p>
        </div>
        <div class="bottom-line"></div>
    </div>

</div>