<div class="container">
    <div class="heading lead">
        <h2>Projects</h2>
        <div class="bar"></div>
        <div class="bottom-line"></div>
    </div>
    <div class="box">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="content">
        <ul>
            <li fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="lead-large">
                <div class="image"><img src="../../../assets/images/projects/covidsv.png" alt="COVIDSV">
                    <a href="https://covidsv19-9f9a3.web.app/" target="_blank" class="more">See more</a>
                </div>
                <div class="description">
                    <h3 class="lead">COVID 19 Tracker</h3>
                    <div class="bottom-line lead"></div>
                    <p>Made in Angular, a fully Portable Web Application, based on material design UI, provides all the essential details and numbers related to the Covid 19 pandemic.</p>
                </div>
            </li>
            <li fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="lead-large">
                <div class="image" fxFlexOrder="2"><img src="../../../assets/images/projects/ecommcart.png" alt="COVIDSV">
                    <a href="https://ecommcart-5a997.web.app/" target="_blank" class="more">See more</a>
                </div>
                <div class="description">
                    <h3 class="lead">ecomm - cart</h3>
                    <div class="bottom-line lead"></div>
                    <p>This angular based ecommerce web application provides all the functionalities like adding multiple products in the cart and removing them, along with other basic ecom features such as availing the coupon discounts.</p>
                </div>
            </li>
            <li fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="lead-large">
                <div class="image"><img src="../../../assets/images/projects/cross fit trainerl.jpg" alt="COVIDSV">
                    <a href="assets/docs/cross.jpg" target="_blank" class="more">See more</a>
                </div>
                <div class="description">
                    <h3 class="lead">Cross trainer flyer</h3>
                    <div class="bottom-line lead"></div>
                    <p>Made with Adobe Illustrator and Photoshop, this flyer was designed exclusively for Grand Slam Fitness to make a direct increase in the amount of sales on different products available at the premise.</p>
                </div>
            </li>
            <li fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="lead-large">
                <div class="image" fxFlexOrder="2"><img src="../../../assets/images/projects/flyer final - ahmedabad.jpg" alt="COVIDSV">
                    <a href="assets/docs/fit.pdf" target="_blank" class="more">See more</a>
                </div>
                <div class="description">
                    <h3 class="lead">Fit India Trust</h3>
                    <div class="bottom-line lead"></div>
                    <p>Made with Adobe Illustrator and Photoshop, this brochure was designed for Fit India Trust under Grand Slam Fitness for the promotion of Resistance Training Specialist Certification Course</p>
                </div>
            </li>
            <li fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="lead-large">
                <div class="image"><img src="../../../assets/images/projects/apdrops.jpg" alt="COVIDSV">
                    <a href="assets/docs/apdrops.pdf" target="_blank" class="more">See more</a>
                </div>
                <div class="description">
                    <h3 class="lead">Product Monographs</h3>
                    <div class="bottom-line lead"></div>
                    <p>Made with Adobe Indesign , Illustrator and Photoshop, two product monographs named Apdrops and Softdrops were designer for the client Ajanta Pharma of eMediWrite pvt ltd.</p>
                </div>
            </li>
            <li fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="lead-large">
                <div class="image" fxFlexOrder="2"><img src="../../../assets/images/projects/ckd-mbd.jpg" alt="COVIDSV">
                    <a href="assets/docs/ckd.pdf" target="_blank" class="more">See more</a>
                </div>
                <div class="description">
                    <h3 class="lead">Newsletters</h3>
                    <div class="bottom-line lead"></div>
                    <p>Made with Adobe Indesign , Illustrator and Photoshop, two newsletters, named CKD-MBD and Renal Anemia were designed for the client Hospimax Healthcare of eMediWrite pvt ltd.</p>
                </div>
            </li>
            <li fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="lead-large">
                <div class="image"><img src="../../../assets/images/projects/zilarbi.jpg" alt="COVIDSV">
                    <a href="assets/docs/zilarbi.pdf" target="_blank" class="more">See more</a>
                </div>
                <div class="description">
                    <h3 class="lead">Case studies</h3>
                    <div class="bottom-line lead"></div>
                    <p>Made with Adobe Indesign , Illustrator and Photoshop, the Zilarbi Case report was created for client Emcure Pharmaceuticals of eMediWrite pvt ltd.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
