<footer>
    <ul fxLayout="column" fxLayout.lt-md="row" fxLayoutGap.lt-md="2rem">
        <li><a href="https://www.facebook.com/scoopspoof.sv/"><i class="lab la-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/shivam-pandey-gfx/"><i class="lab la-linkedin"></i></a></li>
        <li><a href="https://www.reddit.com/user/scoopspoof/"><i class="lab la-reddit"></i></a></li>
        <li><a href="https://www.instagram.com/scoopspoof_sv/"><i class="lab la-instagram"></i></a></li>
    </ul>
</footer>
