:root {
    --primary: #20998D;
    --secondary: #F2CA7E;
    --light: #F2F2F2;
    --medium: #333;
    --dark: #191919;
    --background: #f5f5f5;
    --white-color: #f3f3f3;
    --black-color: #070707;
}
